/* Head Animations*/
@keyframes musing {
  0% {transform: translate(-50%,0) rotate(-5deg);}
  50% {transform: translate(-50%,0) rotate(5deg);}
  100% {transform: translate(-50%,0) rotate(-5deg);}
}

@keyframes reading {
  0% {transform: translate(-50%,0);}
  30% {transform: translate(-50%,0) scale(1.05,1.05);}
  40% {transform: translate(-50%,10%) scale(1.1,1.1) rotate(2.5deg);}
  70% {transform: translate(-50%,10%) scale(1.1,1.1) rotate(2.5deg);}
  80% {transform: translate(-50%,10%) scale(1.1,1.1);}
  100% {transform: translate(-50%,0);}
}

@keyframes thinking {
  0% {transform: translate(-50%,0);}
  20% {transform: translate(-50%,0);}
  50% {transform: translate(-50%, 0) rotate(5deg);}
  80% {transform: translate(-50%,10%) rotate(5deg);}
  100% {transform: translate(-50%,0);}
}
/* Head Animations End */

/* Eyes Animations */
@keyframes readingEyes {
  0% {transform: translate(-50%,0);}
  30% {transform: translate(-50%,0) scale(1.05,1.05)}
  40%, 60% {transform: translate(-49%,10%) scale(1.1,1.1) rotate(2.5deg);}
  50%, 70% {transform: translate(-51%,10%) scale(1.1,1.1) rotate(2.5deg);}
  80% {transform: translate(-49%,10%) scale(1.1,1.1);}
  100% {transform: translate(-50%,0);}
}

@keyframes blink {
  0% {transform: scale(1, .05);}
  5% {transform: scale(1, 1);}
  95% {transform: scale(1, 1);}
  100% {transform: scale(1, .05);}
}
/* Eyes Animations End */

#face1 {
  /* position: relative; */
  /* z-index: 9990; */
  /* width: 30%; */
  /* height: 10%; */
  /* top: 4%; */
  /* left: 30px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* left: 20%; */
  /* left: 50%; */
  /* transform: translate(-50%,0) rotate(-5deg); */
  /* transform-origin: 50% 90%; */
  animation-name: musing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-easing: ease-in-out;
}

#face2 {
  position: absolute;
  z-index: 9999;
  /* width: 100%;
  height: 70%;
  left: 50%;
  transform: translate(-50%,0);
  transform-origin: 50% 20%; */
  animation-name: readingEyes;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-easing: ease-in-out;
}

#face3 {
  position: absolute;
  z-index: 9999;
  /* width: 100%;
  height:50%;
  left: 50%;
  transform: translate(-10%, 0);
  transform-origin: 50% 20%; */
  animation-name: thinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-easing: ease-in-out;
}

#eyes {
  /* position: relative; */
  /* top: 25px; */
  /* width: 10vw; */
  /* top: 20px; */
}

#leftEye, #rightEye {
  /* position: relative;
  display: flex;
  z-index: 9999;
  top: 30px;
  left: 6px;
  background: darkslategray;
  width: 0.5vw;
  height: 0.5vw; */
  border-radius: 50%;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-easing: ease-in-out;
}

#rightEye {
  /* left: 57px; */
  left: 20px;
}

#head1
{
  /* position: absolute;
  top: -65px;
  left: 50%;
  transform: translate(-50%,0);
  transform-origin: 50% 90%; */
  animation-name: musing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-easing: ease-in-out;
}

#head2
{
  /* position: absolute;
  left: 0;
  top: -45px;
  left: 50%;
  transform: translate(-50%,0);
  transform-origin: 50% 90%; */
  animation-name: reading;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-easing: ease-in-out;
}

#head3
{
  /* position: absolute; */
  /* position: relative; */
  /* top: -45px; */
  /* top: 10px; */
  /* left: 50%; */
  /* transform: translate(-50%,0) rotate(-5deg); */
  /* transform-origin: 50% 90%; */
  animation-name: thinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-easing: ease-in-out;
}

.laptop-logo {
  z-index: 9999;
  position: absolute;
  transform: translate(0,75.5px);
  width: 30px;
  height: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*  Table SVG
/*-----------------------------------------------------------------------------------*/

.table-1 {
  fill: #84664e;
}

.table-2 {
  fill: #937458;
}

.table-3 {
  fill: #a08060;
}

.table-4 {
  fill: #a8886f;
}

.table-5 {
  fill: #8c6d56;
}

/*-----------------------------------------------------------------------------------*/
/*  Laptop SVG
/*-----------------------------------------------------------------------------------*/
.laptop1-1 {
  fill: #d8d8d8;
  stroke-width: 2px;
  stroke: url(#linear-gradient);
}

/*-----------------------------------------------------------------------------------*/
/*  Chair SVG
/*-----------------------------------------------------------------------------------*/
.chair1-1 {
  fill: #515151;
}

.chair1-2 {
  fill: #44515f;
}

.chair1-3 {
  fill: #282828;
}

/*-----------------------------------------------------------------------------------*/
/*  Skin SVG
/*-----------------------------------------------------------------------------------*/
.skin1-1 {
  fill: #f7a584;
}

.skin1-2 {
  fill: #feac86;
}

.skin1-3 {
  fill: #e0977e;
}

.skin1-4 {
  fill: #ea9c7d;
}

/*-----------------------------------------------------------------------------------*/
/*  Hair SVG
/*-----------------------------------------------------------------------------------*/

/* Hair 1 */
.hair1-1 {
  fill: #492a00;
}

/* Hair 2 */
.hair2-1 {
  fill: #2d1700;
}

/*-----------------------------------------------------------------------------------*/
/*  Shirt SVG
/*-----------------------------------------------------------------------------------*/

/* Shirt 1 */
.shirt1-1 {
  fill: #374c89;
}

/* Shirt 2 */
.shirt2-1 {
  fill: #388434;
}

/*-----------------------------------------------------------------------------------*/
/*  Pants SVG
/*-----------------------------------------------------------------------------------*/

/* Pants 1 */
.pants1-1 {
  fill: #b56b2a;
}

.pants1-2 {
  fill: #c16f33;
}

/* Pants 2 */
.pants2-1 {
  fill: #3c3c56;
}

.pants2-2 {
  fill: #454560;
}

/*-----------------------------------------------------------------------------------*/
/*  Shoes SVG
/*-----------------------------------------------------------------------------------*/

/* Shoes 1 */
.shoes1-1 {
  fill: #374c89;
}

.shoes1-2 {
  fill: #afafaf;
}

/* Shoes 2 */
.shoes2-1 {
  fill: #388434;
}

.shoes2-2 {
  fill: #afafaf;
}